h1 {
	font-family: 'Roboto Slab', serif;
}
h4 {
	font-family: 'Roboto Slab', serif;
	padding: 2.5% 2.5% 2.5%;
	color: #555354;
}	
p {
	font-family: 'Roboto', sans-serif;
}
a {
	font-family: 'Roboto Slab', serif;	
	font-size: 4vmin;
}
a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
span {
	font-size: 3.25vmin;
	padding-right: 2.5vmin;
}
#lo {
  width: 42.5vmin;
  max-width: 100%;
  height:auto;
  display: block;
  padding: 10% 0 0;
  margin-left: auto;
  margin-right: auto;
}
.logo {
	height: 100%;
}
.about {
	height: 100%;
	background-color: #F0A554;
}
.board {
	height: 100%;
	background-color: #1BB24B;
}
.komuna {
	height: 100%;
	background-color: #F2F2F2;
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
h1#ab {	
	font-size: 10vmin;
	padding: 10% 0 2.5%;
	color: #555354;
}
p#ab {
	font-size: 4.5vmin;
	color: #F2F2F2;
	padding: 5% 25%;
}
h1#bo {	
	font-size: 8vmin;
	padding: 5% 0 2.5%;
	color: #F2F2F2;
}
p#bo {
	font-size: 3vmin;
	color: #555354;
	padding: 2.5% 10% 0;
}
a.funkc{
	color: #555354;
}
div.panel-body {
	color: #555354;
	font-size: 2.5vmin;
}
.pa {
	padding: 0 35% 0;
}
h1#cm {
	font-size: 8vmin;
	padding: 5% 0 2.5%;
	color: #F0A554;
}
p#cm {
	font-size: 4.5vmin;
	color: #555354;
	padding: 0% 10%;
}
#botun {
	background-color: #4CB3ED;
	font-family: 'Roboto Slab', serif;
	font-size: 4vmin;
	color: #F2F2F2;
	padding: 1% 2.5%;
	height: 10%;
	width: 35%;
	margin-top: 5%;
}

